# Virtual environments
.env
.venv/
baby-env/
**/baby-env/

# Datasets
# dataset/

# Python artifacts
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.pkl
*.h5
# *.pt
*.onnx
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
