# ===============================
# Python bytecode and metadata
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.pkl
*.h5
*.pt
*.onnx
*.sqlite3

# ===============================
# Virtual environments
# ===============================
.env
.venv/
baby-env/
**/baby-env/

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# VSCode settings
# ===============================
.vscode/

# ===============================
# Local datasets (raw or processed)
# ===============================
dataset/
